config = {
  "rpchost": "piggycoind",
  "rpcport": 54480,
  "rpcpath": "/",
  "rpcusername": "PiggyRPC",
  "rpcpassword": "RPCPassword",
  "bindip": "",
  "bindport": 8338,
  "pubkeyfile": "server.cert",
  "privkeyfile": "server.pem",
  "users": {
    "piggy:piggy": "fullaccess",
  },
}
